.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-stylish {
  font-family: 'Vidaloka', serif;
}
.cut-text {
  max-width: 100px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}
.bg-green {
  background-color: #48bb78;
}

.img-custom {
  max-width: 300px;
}

@media (min-width: 578px) {
  .img-custom {
    max-width: 400px;
  }
}

@media (min-width: 1000px) {
  .img-custom {
    max-width: 450px;
  }
}
